<div class="coffee-bg">
  <div class="coffee-box">
    <!--<div class="decaf-text">DECAF</div>-->
    <div class="decaf-invaders-container">
      <img src="assets/images/invaders/spaceInvaders-d.png"/>
      <img src="assets/images/invaders/spaceInvaders-e.png"/>
      <img src="assets/images/invaders/spaceInvaders-c.png"/>
      <img src="assets/images/invaders/spaceInvaders-a.png"/>
      <img src="assets/images/invaders/spaceInvaders-f.png"/>
    </div>
  </div>
  <a [routerLink]="['/livingroom4']" ><div class="goToBottom"></div></a>
</div>
