<div id="livingroom3-root">
  <div class="wallColor wallBlock"></div>
  <div class="carpetColor carpetBlock"></div>

  <a [routerLink]="['/livingroom2']"><div class="goToLeft"></div></a>
  <a [routerLink]="['/livingroom4']"><div class="goToRight"></div></a>
  <a [routerLink]="['/livingroom3drawer1']"><div class="open-drawer1"></div></a>

  <a [routerLink]="['/livingroom-window/0']"><div class="window window0" ><div class="window-container"><div class="window-background"></div><div class="backWindow"></div></div></div></a>
  <a [routerLink]="['/livingroom-window/6']"><div class="window window6" ><div class="window-container"><div class="window-background"></div><div class="backWindow"></div></div></div></a>
  <a [routerLink]="['/livingroom-window/1']"><div class="window window1" ><div class="window-container"><div class="window-background"></div><div class="backWindow"></div></div></div></a>

  <a [routerLink]="['/jukebox']"><div class="jukebox"></div></a>

  <div class="tv-desk pointer" (click)="openTv()"></div>
  <div [routerLink]="['/inside-wood-cupboard-left']" class="inside-wood-cupboard-left pointer"></div>
  <div class="soucoupe-et-perroquet pointer" (click)="openTv()"></div>

</div>
