.jukebox {
  position: absolute;
  height: 260px;
  width: 150px;
  background-image: url("../../assets/images/various/jukebox.png");
  background-size: 100% 100%;
  z-index: 100;
  left: 20px;
  bottom: 126px;
}
.tv-desk {
  position: absolute;
  height: 300px;
  width: 600px;
  background-image: url("images/tv-desk.png");
  background-size: 100% 100%;
  z-index: 100;
  left: 170px;
  bottom: 120px;
}

.soucoupe-et-perroquet {
  position: absolute;
  height: 107px;
  width: 226px;
  background-image: url("images/soucoupe-et-perroquet.jpg");
  background-size: 100% 100%;
  z-index: 5000;
  left: 356px;
  bottom: 297px;
}

.openTV {
  position: absolute;
  height: 107px;
  width: 226px;
  z-index: 6000;
  left: 356px;
  bottom: 297px;
}

.open-drawer1 {
  height: 50px;
  width: 183px;
  top: 451px;
  left: 379px;
  z-index: 9999;
  position: absolute;
}


.window0 {
  left: 100px;
  top: 50px;
}

.window1 {
  left: 700px;
  top: 50px;
}

.window6 {
  left: 400px;
  top: 50px;
}

.inside-wood-cupboard-left {
  left: 181px;
  height: 100px;
  position: absolute;
  top: 400px;
  width: 190px;
  z-index: 200;
}

.inside-wood-cupboard-right {
  left: 568px;
  height: 100px;
  position: absolute;
  top: 400px;
  width: 190px;
  z-index: 200;
}

.cracked-wall {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url("images/cracked-wall.png");
  background-size: 100% 100%;
  z-index: 100;
  left: 770px;
  bottom: 190px;
}
.cracked-wall-text {
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 6000;
  left: 0;
  top: -100px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.cracked-wall:hover .cracked-wall-text {
  opacity: 1;
}
