.tv-desk {
  position: absolute;
  height: 300px;
  width: 600px;
  background-image: url("images/tv-desk.png");
  background-size: 100% 100%;
  z-index: 100;
  left: 170px;
  bottom: 120px;
}
.soucoupe-et-perroquet {
  position: absolute;
  height: 107px;
  width: 226px;
  background-image: url("images/soucoupe-et-perroquet.jpg");
  background-size: 100% 100%;
  z-index: 200;
  left: 356px;
  bottom: 297px;
}
.open-drawer1 {
  height: 50px;
  width: 183px;
  top: 451px;
  left: 379px;
  z-index: 9999;
  position: absolute;
}
.window0 {
  left: 100px;
  top: 50px;
}
.window1 {
  left: 600px;
  top: 50px;
}
