<div id="livingroom3-root">
  <a [routerLink]="['/livingroom2']"><div class="goToLeft"></div></a>
  <a [routerLink]="['/livingroom4']"><div class="goToRight"></div></a>
  <a [routerLink]="['/livingroom3drawer1']"><div class="open-drawer1"></div></a>
  <div class="wallColor wallBlock"></div>
  <div class="carpetColor carpetBlock"></div>
  <div class="tv-desk"></div>
  <a [routerLink]="['/livingroom-window/0']"><div class="window window0" ><div class="window-container"><div class="window-background"></div><div class="backWindow"></div></div></div></a>
  <a [routerLink]="['/livingroom-window/1']"><div class="window window1" ><div class="window-container"><div class="window-background"></div><div class="backWindow"></div></div></div></a>
</div>
