.livingroom-window-root {
  height: 100%;
  width: 100%;
}

.openedWindow {
  height: 555px;
  width: 100%;
  background-image: url("images/window-opened.png");
  background-size: 100% 100%;
  z-index: 1000;
  top: 50px;
  position: absolute;
}

.insideWindowImage {
  position: absolute;
  top: 135px;
  left: 185px;
  width: 513px;
  height: 400px;
}
.phone-for-picture {
  height: 100px;
  width: 75px;
  background-image: url("images/phone-flash-invaders-taking-photo.png");
  background-size: 100% 100%;
  z-index: 5000;
  top: 50px;
  position: absolute;
  cursor: crosshair;
}

.invader-to-pick-block {
  z-index: 7000;
  position: absolute;
}
#picture-flash {
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  z-index: 9500;
  display: none;
}

#scoreToAdd {
  color: orange;
  display: none;
  font-family: Atari, fantasy;
  font-size: 100px;
  font-weight: bold;
  left: 300px;
  top:  250px;
  position: absolute;
  z-index: 9600;
}



