<div class="livingroom-window-root wallColor">
  <img src="assets/images/livingroom-windows/city-find-invader{{windowId}}.jpg"
      class="insideWindowImage"/>
  <div class="openedWindow">
  </div>
  <a (click)="backClicked()"><div class="pointer goToBottom"></div></a>
  <div class="phone-for-picture" *ngIf="isPhoneSelected()"
    (click)="takePicture()">
  </div>
  <div [style.left.px]="invadersToSnap[windowId].left"
       [style.top.px]="invadersToSnap[windowId].top"
       [style.width.px]="invadersToSnap[windowId].width"
       [style.height.px]="(invadersToSnap[windowId].height + 80)"
       class="invader-to-pick-block"
       (click)="snapInvader()"
  ></div>
  <div class="backpacker" *ngIf="invadersToSnap[windowId].backpacker"
       [style.left.px]="invadersToSnap[windowId].backpacker.x"
       [style.top.px]="invadersToSnap[windowId].backpacker.y"
       [style.width.px]="invadersToSnap[windowId].backpacker.width"
       [style.height.px]="invadersToSnap[windowId].backpacker.height"
  ></div>

  <div id="scoreToAdd">+ {{ invadersToSnap[windowId].score }}</div>
  <div id="picture-flash"></div>
  <div class="invader-text">
    <span *ngFor="let el of invadersToSnap[windowId].legend.split('')">
      <span *ngIf="inInvaderLetter(el)">
        <img class="" src="assets/images/invaders/spaceInvaders-{{el.toLowerCase()}}.png"/>
      </span>
      <span class="letter" *ngIf="!inInvaderLetter(el)">{{el}}</span>
    </span>
  </div>
  <div class="play-music-button pointer" (click)="playSong()"></div>


</div>

