<div class="home-root">
  <div class="phone-container">
    <img class="phone" src="assets/images/items/phone-flash-invaders.png">
    <div class="total-score"
         [ngClass]="{
             'totalScoreSuperiorTo0': getTotalPoint() > 0
          }">
         Score : {{getTotalPoint()}}</div>
    <div class="phone-background" *ngIf="countInvaders() > 0">
      <div class="snapped-invader-list-container">
        <div *ngFor="let invader of getSnappedInvaders() | keyvalue" class="snapped-invader-container">
          <img src="assets/images/livingroom-windows/city-find-invader{{invader.key}}-snapped.jpg"/>
        </div>
      </div>
    </div>
  </div>
</div>
