<div class="switch-channel-container">
  CHANNEL:<br/>
  <div *ngFor="let channel of [1,2,3]"
        class="channel-button pointer"
        (click)="switchToChannel(channel)">{{channel}}</div>
  <div *ngIf="channel == 3">
    <div class="button" (click)="backToBeginning()" >
      <button mat-fab color="primary" aria-label="Back to beginning"  matTooltip="Back to beginning" matTooltipPosition="below">
        <mat-icon >first_page</mat-icon>
      </button>
    </div>
    <div class="button" (click)="rewindSubs()" >
      <button mat-fab color="primary" aria-label="Rewind"  matTooltip="Rewind" matTooltipPosition="below">
        <mat-icon>fast_rewind</mat-icon>
      </button>
    </div>
    <div class="button" (click)="playPause()" >
      <button mat-fab color="primary" aria-label="Play/Pause"  matTooltip="Play/Pause" matTooltipPosition="below">
        <mat-icon *ngIf="isPlaying">pause</mat-icon>
        <mat-icon *ngIf="!isPlaying">play_arrow</mat-icon>
      </button>
    </div>
    <div class="button" (click)="moreSpeed()" >
      <button mat-fab color="primary" aria-label="Play faster"  matTooltip="Play faster" matTooltipPosition="below">
        <mat-icon >speed</mat-icon>
      </button>
    </div>
  </div>
</div>

<iframe class="tv-channel pointer" *ngIf="channel == 1"
        src="https://www.youtube.com/embed/BywJa6iaa-M?autoplay=1">
</iframe>
<iframe class="tv-channel pointer" *ngIf="channel == 2"
        src="https://www.youtube.com/embed/VczbbiRmDik?autoplay=0">
</iframe>

<div id="watching-tv" *ngIf="channel == 3">
  <div class="invader-president"></div>
  <div class="subtitles">
    <div class="subtitles-inner" [ngStyle]="{'left.px' : subtitleLeft }" >
      <span *ngFor="let el of speech.split('')">
        <span *ngIf="inInvaderLetter(el)">
          <img src="assets/images/invaders/spaceInvaders-{{el.toLowerCase()}}.png"/>
        </span>
        <span class="letter" *ngIf="!inInvaderLetter(el)">{{el}}</span>
      </span>
    </div>
  </div>
  <div class="hide-left"></div>
  <div class="hide-right"></div>
</div>

<a [routerLink]="['/livingroom3']"><div class="goToBottom"></div></a>
