<iframe class="tv-channel pointer" *ngIf="channel == 1"
        src="https://www.youtube.com/embed/BywJa6iaa-M?autoplay=1">
</iframe>
<iframe class="tv-channel pointer" *ngIf="channel == 2"
        src="https://www.youtube.com/embed/VczbbiRmDik?autoplay=0">
</iframe>


<div id="watching-tv" *ngIf="channel == 3">
  <div class="invader-president"></div>
  <div class="subtitles">
    <div class="subtitles-inner">
      <span *ngFor="let el of speech.split('')">
        <span *ngIf="inInvaderLetter(el)">
          <img src="assets/images/invaders/spaceInvaders-{{el.toLowerCase()}}.png"/>
        </span>
        <span class="letter" *ngIf="!inInvaderLetter(el)">{{el}}</span>
      </span>
    </div>
  </div>
  <div class="hide-left"></div>
  <div class="hide-right"></div>
</div>

<a [routerLink]="['/livingroom3']"><div class="goToBottom"></div></a>
<a (click)="switchChannel(-1)"><div class="goToLeft"></div></a>
<a (click)="switchChannel(+1)"><div class="goToRight"></div></a>

