.switch-channel-container {
  position: absolute;
  background-color: rgba(100,100,100, 0.7);
  color: white;
  z-index: 5000;
  padding-top: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px black;
}

.channel-button {
  background-color: black;
  padding: 15px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 90px;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 5px;

}

.button {
  float : left;
}
.switch-channel {
  position: absolute;
  width: 100%;
  z-index: 6000;
}
.switch-channel-container {
  /* height: 100px; */
}

.goToBottom {
  z-index: 7000;
}

#watching-tv {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("images/president-speech.jpg");
  background-size: 100% 100%;
}
.invader-president {
  position: absolute;
  height: 200px;
  width: 200px;
  background-image: url("../../assets/images/various/space-invader-green.png");
  background-size: 100% 100%;
  top: 71px;
  left: 295px;
}
.goToBottom {
  height:200px;
}
.subtitles {
  background-color: rgba(80,80,80,0.7);
  width: 100%;
  height: 100px;
  bottom: 20px;
  position: absolute;
  letter-spacing: 20px;
  color: white;
  font-size: 80px;
  overflow: hidden;
  z-index: 100;
}
.subtitles-inner {
  padding-left: 700px;
  width: max-content;
  overflow: hidden;
  position: absolute;
}
.hide-left, .hide-right {
  height: 100px;
  bottom: 20px;
  background-color: black;
  position: absolute;
  z-index: 5000;
}


.tv-channel {
  position: absolute;
  height: 100%;
  width: 100%;
}

.tips-channel1and2, .tips-channel3 {
  width: 180px;
  display: block;
  font-style: italic;
  font-size: 10px;
}
.tips-channel3 {
  width: 224px;
}
