<div id="livingroom2-root">
  <div class="wallColor wallBlock"></div>
  <div class="carpetColor carpetBlock"></div>
  <a [routerLink]="['/livingroom1']"><div class="goToLeft"></div></a>
  <a [routerLink]="['/livingroom3']"><div class="goToRight"></div></a>
  <div class="cupboard"></div>
  <a [routerLink]="['/emptydrawer']"><div class="drawer1"></div></a>
  <a [routerLink]="['/emptydrawer']"><div class="drawer2"></div></a>
  <a [routerLink]="['/emptydrawer']"><div class="drawer3"></div></a>
  <a [routerLink]="['/clock-digital']"><div class="clock-digital"></div></a>
  <div class="leftDoorCupboard pointer" (click)="openWoodPlank()"></div>
  <div class="wood-plank pointer" (click)="openWoodPlank()"
      *ngIf="!hasWoodPlankBeenOpened()"></div>
</div>
