.cupboard {
  position: absolute;
  height: 500px;
  width: 800px;
  background-image: url("images/cupboard.png");
  background-size: 100% 100%;
  z-index: 100;
  left: 50px;
  bottom: 120px;
}
.wood-plank {
  position: absolute;
  height: 75px;
  width: 150px;
  background-image: url("images/wood-plank.png");
  background-size: 100% 100%;
  z-index: 120;
  left: 225px;
  bottom: 200px;
}
.leftDoorCupboard {
  position: absolute;
  height: 187px;
  width: 208px;
  z-index: 100;
  left: 187px;
  top: 319px;
}
.drawer1 {
  height: 50px;
  width: 105px;
  top: 321px;
  left: 397px;
  z-index: 9999;
  position: absolute;
}

.drawer2 {
  height: 50px;
  width: 105px;
  top: 371px;
  left: 397px;
  z-index: 9999;
  position: absolute;
}

.drawer3 {
  height: 87px;
  width: 105px;
  top: 421px;
  left: 397px;
  z-index: 9999;
  position: absolute;
}
.clock-digital {
  position: absolute;
  height: 40px;
  width: 100px;
  background-image: url("../../assets/images/various/clock-digital.png");
  background-size: 100% 100%;
  z-index: 120;
  left: 405px;
  top: 267px;
}


