/* You can add global styles to this file, and also import other style files */

body {
  background: black;
}

app-root {
  background: white;
  display: block;
  height: 650px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 900px;
}

.fullbg {
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  position: absolute;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer {
  cursor: pointer;
}

@font-face {
  font-family: "Atari";
  src: url("assets/fonts/AtariSmall.ttf") format("truetype");
}

@font-face {
  font-family: "OvertheRainbow";
  src: url("assets/fonts/OvertheRainbow-Regular.ttf") format("truetype");
}

/******************************************************
  Trophies
 ******************************************************/
app-trophy {
  position: absolute;
  left: -95px;
  width: 150px;
  height: 100%;
  top: 0;
}

/******************************************************
  Items
 ******************************************************/
app-items {
  position: absolute;
  right: -160px;
  width: 150px;
  height: 100%;
  top: 0px;
}

.key-bg {
  background-image: url("assets/images/items/key_drawer1.png");
}


/******************************************************
  Navigation
 ******************************************************/

.goToLeft {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 100%;
  z-index: 9000;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.goToLeft:hover {
  opacity: 1;
  background: url("assets/images/arrows/left.png") no-repeat center;;
  background-size: 70px;
  background-position-x: -10px;
}

.goToRight {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  z-index: 9000;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.goToRight:hover {
  opacity: 1;
  background: url("assets/images/arrows/right.png") no-repeat center;;
  background-size: 70px;
  background-position-x: -10px;
}

.goToBottom {
  bottom: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 9000;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.goToBottom:hover {
  opacity: 1;
  background: url("assets/images/arrows/down.png") no-repeat center;;
  background-size: 70px;
}

.login-form .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .2375em 0 !important;
}

/******************************************************
  Wall
 ******************************************************/

.wallColor {
  background-color: #FECBD5;
}

.carpetColor {
  background-color: #18A39E;
}

.wallBlock {
  height: 475px;
  width: 100%;
}

.wallBlock {
  position: absolute;
  height: 475px;
  width: 100%;
  z-index: 10;
}

.carpetBlock {
  position: absolute;
  top: 475px;
  height: 200px;
  width: 100%;
  z-index: 10;
}


/******************************************************
  Windows
 ******************************************************/
.backWindow {
  position: relative;
  background-color: #90D3F3;
  z-index: 90;
}

.window {
  position: absolute;
  height: 200px;
  width: 136px;
}

.window-container {
  position: relative;
  height: 100%;
}

.window-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("assets/images/window.png");
  background-size: 100% 100%;
  z-index: 100;
}

.backWindow {
  margin-left: 20px;
  margin-top: 10px;
  height: 160px;
  width: 106px;
  z-index: 90;
  top: 8px;
}

.total-score {
  font-family: Atari, fantasy;
  color: orange;
  text-align: center;
}
