.desk {
  position: absolute;
  height: 200px;
  width: 400px;
  background-image: url("images/desk.png");
  background-size: 100% 100%;
  z-index: 100;
  left: 200px;
  bottom: 100px;
}
.window2 {
  left: 50px;
  top: 50px;
}
.window3 {
  left: 250px;
  top: 50px;
}
.window4 {
  left: 450px;
  top: 50px;
}
.window5 {
  left: 650px;
  top: 50px;
}
