<div id="livingroom4-root">
  <a [routerLink]="['/livingroom3']"><div class="goToLeft"></div></a>
  <a [routerLink]="['/livingroom1']"><div class="goToRight"></div></a>
  <div class="wallColor wallBlock"></div>
  <div class="carpetColor carpetBlock"></div>
  <a [routerLink]="['/livingroom-window/2']"><div class="window window2" ><div class="window-container"><div class="window-background"></div><div class="backWindow"></div></div></div></a>
  <a [routerLink]="['/livingroom-window/3']"><div class="window window3" ><div class="window-container"><div class="window-background"></div><div class="backWindow"></div></div></div></a>
  <a [routerLink]="['/livingroom-window/4']"><div class="window window4" ><div class="window-container"><div class="window-background"></div><div class="backWindow"></div></div></div></a>
  <a [routerLink]="['/livingroom-window/5']"><div class="window window5" ><div class="window-container"><div class="window-background"></div><div class="backWindow"></div></div></div></a>
  <div class="desk"></div>
  <a (click)="goInsideComputer()">
    <div class="macbook pointer"></div>
  </a>
  <a  [routerLink]="['/coffee']">
    <div class="white-cup-1"></div>
    <div class="white-cup-2"></div>
  </a>
  <a (click)="goToChest()" class="pointer">
    <div class="trunk-1"></div>
    <div class="locker-1"></div>
  </a>
</div>
