#inside-cupboard-left-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("images/emptycupboard.jpg");
  background-size: 100% 100%;
}
.remote {
  height: 150px;
  position: absolute;
  left: 250px;
  top: 334px;
  transform: rotate(-38deg);
  z-index: 1000;
}
.grimoire {
  height: 90px;
  width: 120px;
  background-image: url("../../assets/images/items/grimoire.png");
  background-size: 100% 100%;
  z-index: 120;
  left: 378px;
  top: 547px;
  position: absolute;
  transform: rotate(12deg);
  z-index: 9500;
}
