#livingroom1-root {
  background-image: url("images/livingroom1.jpg");
  background-size: 950px 650px;
  height: 100%;
}

.door {
  position: absolute;
  background-size: 100% 100%;
  height: 429px;
  width: 136px;
  left: 69px;
  top: 50px;
}
.door-closed {
  background-image: url("images/door.png");
}
.door-opened {
  background-image: url("images/door-opened.png");
  z-index: 2000;
}

.doorKnob {
  height: 50px;
  width: 50px;
  left: 150px;
  top: 270px;
  position: absolute;
  z-index: 6000;;
}

.key-lock {
  position: absolute;
  background-image: url("images/key-lock.png");
  background-size: 100% 100%;
  height: 18px;
  width: 18px;
  left: 239px;
  top: 450px;
  z-index: 1000;
}

.livingroom1-drawer2 {
  position: absolute;
  top: 450px;
  width: 61px;
  height: 19px;
  left: 218px;
  z-index: 6000;
}

.space-invaders {
  position: absolute;
  background-image: url("images/spaceInvaders.jpg");
  background-size: 100% 100%;
  height: 110px;
  width: 154px;
  left: 418px;
  top: 95px;
}
.under-sofa-right {
  left: 450px;
  top: 500px;
  height: 100px;
  width: 250px;
  position: absolute;
}

.keyDrawer1 {

}

/******************/
/*** LASER GAME ***/
/******************/
#space-invader-laser {
  position: absolute;
  background-image: url("../../assets/images/items/space-invader-laser.png");
  background-size: 100% 100%;
  height: 60px;
  width: 75px;
  cursor: none;
  z-index: 5000;
}
.bullet {
  background-color: white;
  height: 7px;
  width: 1px;
  position: absolute;
  z-index: 2000;
  border: 1px rgb(240,240,240) solid;
}
.painting-white-bg {
  position: absolute;
  background-color: white;
  height: 110px;
  width: 154px;
  left: 418px;
  top: 95px;
}
.invader {
  margin-left: 4px;
  position: absolute;
}
.cat-fear {
  position: absolute;
  background-image: url("images/cat-fear.png");
  background-size: 100% 100%;
  height: 110px;
  width: 154px;
  left: 418px;
  top: 495px;
}
#painting-bg {
  position: absolute;
  background-image: url("images/painting-bg.png");
  background-size: 100% 100%;
  height: 110px;
  width: 154px;
  left: 418px;
  top: 95px;
}
.trophy-on-painting {
  position: absolute;
  z-index: 5000;
  background-size: 100% 100%;
}

.old-gold-key {
  position: absolute;
  background-image: url("../../assets/images/items/old-golden-key.png");
  background-size: 100% 100%;
  height: 110px;
  width: 154px;
  left: 418px;
  top: 95px;
  z-index: 8000;
}

/* Lights Beams */

body {
  background:#2EB5E5 ;
}

.sun2 {
  position: absolute;
  top: 80px;
  left: 90px;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px white;
}

.sun {
  position: absolute;
  top: 120px;
  left: 460px;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px white;
}

.ray_box {
  position: absolute;
  margin: auto;
  top:0px;
  left:0;
  right:0;
  bottom:0;
  width:70px;
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 10s linear infinite;
}
.ray {
  background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
  margin-left:10px;
  border-radius:80% 80% 0 0;
  position:absolute;
  opacity:0.1;
  background-color: white;
}

.ray1 {
  height:170px;
  width:30px;
  -webkit-transform: rotate(180deg);
  top:-175px;
  left: 15px;
}
.ray2 {
  height:100px;
  width:8px;
  -webkit-transform: rotate(220deg);
  top:-90px;
  left: 75px;
}
.ray3 {
  height:170px;
  width:50px;
  -webkit-transform: rotate(250deg);
  top:-80px;
  left: 100px;
}
.ray4 {
  height:120px;
  width:14px;
  -webkit-transform: rotate(305deg);
  top:30px;
  left: 100px;
}
.ray5 {
  height:140px;
  width:30px;
  -webkit-transform: rotate(-15deg);
  top:60px;
  left: 40px;
}
.ray6 {
  height:90px;
  width:50px;
  -webkit-transform: rotate(30deg);
  top:60px;
  left: -40px;
}
.ray7 {
  height:180px;
  width:10px;
  -webkit-transform: rotate(70deg);
  top:-35px;
  left: -40px;
}
.ray8 {
  height:120px;
  width:30px;
  -webkit-transform: rotate(100deg);
  top:-45px;
  left:-90px;
}
.ray9 {
  height:80px;
  width:10px;
  -webkit-transform: rotate(120deg);
  top:-65px;
  left:-60px;
}
.ray10 {
  height:190px;
  width:23px;
  -webkit-transform: rotate(150deg);
  top:-185px;
  left: -60px;
}


