.jukebox {
  position: absolute;
  height: 600px;
  width: 400px;
  background-image: url("../../assets/images/various/jukebox.png");
  background-size: 100% 100%;
  z-index: 100;
  left: 250px;
  bottom: 40px;
}

.jukebox-form {
  background-color: #F0DB12;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  padding: 5px;
  top: 241px;
  left: 98px;
  position: absolute;
}
.wrongAnswer {
  color: darkviolet;
}
.playSongButton {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 200px;
  height: 150px;
  background-color: transparent;
  border: none;
}

.infirmary-trophy {
  height: 100px;
  z-index: 5000;
  position: absolute;
  bottom: 30px;
  left: 400px;
}

