#macbook-login-bg {
  background-color: black;
  height: 100%;
  width: 100%;
}
#macbook-login {
  position: absolute;
  height: 500px;
  top: 0;
  width: 100%;
  background-image: url("images/macbookpro-login.png");
  background-size: 100% 100%;
}

#login-interface {
  position: absolute;
  height: 457px;
  top: 43px;
  left: 28px;
  width: 842px;
  background-image: url("images/login-interface.png");
  background-size: 100% 100%;
}

.login-form {
  position: absolute;
  left: 375px;
  top: 208px;
  font-size: 12px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .2375em 0 !important;
}
.interline {
  height: 11px;
}
.input-password {
  top: -23px;
}
.mat-form-field {
  width: 90px !important;
}
.login-button {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 94px;
  top: 49px;
  background: none;
  border: none;
}
.wrongAnswer {
  top: 64px;
  position: absolute;
  width: 400px;
  color: red;
}
.goToBottom {
  height: 250px;
}
